<DOCTYPE !html>
<html ng-app="TWIN">
  <head>
    <title>TWIN</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/autocomplete.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="/static/js/jquery.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/twin.js"></script>

  </head>
  <body ng-controller="TwinController">


    <header>

      <!-- DEBUG -->
      <div style="color: white; position: absolute">
      Debug user switch: <select ng-model="debug_user" ng-options="student.name for student in students track by student.student_number"></select>
      </div>
      <!-- END DEBUG -->

      <div class="user" ng-if="user">{{user.student.name || user.username}} <span class="logout">(<a href="/logout">dit ben ik niet</a>)</span></div>
      <h1>TWIN</h1>

    </header>

    <article>
      <p>In het volgende blok wil ik in één groep zitten met:</p>

      <input type="text" id="student" value="{{preference.name}}" placeholder="Maakt me niet uit...">

      <div class="info" ng-show="preference.reciprocal">In de volgende periode gaan we proberen jou met <i>{{preference.name}}</i> in 1 groep te plaatsen</div>
      <div class="warning" ng-show="preference && !preference.reciprocal"><b>Let op:</b> <i>{{preference.name}}</i> moet ook eerst voor jou kiezen in TWIN voordat jullie in één groep worden geplaatst</div>
    </article>
  </body>

</html>