{% extends "admin/index.html" %}

{% block sidebar %}
{{ block.super }}
<style>
.twin-extra {
  margin-top: 0;
  float: none;
}
</style>
<ul class="object-tools twin-extra" >
  <li><a href="/admin/twin/student/import" class="link">Studenten importeren</a></li>
  <li><a href="/admin/twin/groups" class="link">Groepen maken</a></li>
</ul>

<p style="padding-top: 50px; clear: both;">
    Let op, studenten importeren &amp; groepen maken werkt alleen goed als er in <a href="https://drive.google.com/drive/u/1/folders/{{CONSTANCE_CONFIG.GOOGLE_DRIVE_FOLDER}}" target="_blank">deze Google Drive map</a> minstens één studentenlijst Google Sheets aanwezig is. Elke studentenlijst mag meerdere werkbladen bevatten (voor verschillende jaargangen), maar elk werkblad moeten de eerste vier kolommen als volgt zijn:</p>

    <ol>
      <li>Studentnummer</li>
      <li>Achternaam</li>
      <li>Tussenvoegsel</li>
      <li>Voornaam</li>
    </ol>

    <p>en de eerste rij moet een header rij zijn met kolomnamen</p>


</p>
<img src="/static/img/sheet_template.png" style="width:300px">
{% endblock %}